.hero__button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  border: 0px solid transparent;

  color: $white-color;
  background-color: $accent-color;

  cursor: pointer;
  font-family: inherit;
  @include fontMix(16px, 1.88, 700);
  text-align: center;
}

.button-second {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px solid transparent;
  color: $primary-text-color;
  background-color: $background-button;

  cursor: pointer;
  font-family: inherit;
  @include fontMix(16px, 1.63, 500);
  text-align: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    color: $white-color;
    background-color: $accent-color;
  }
}

.button-subscribe {
  @include centered-content;
  width: 200px;
  height: 50px;
  border: 0px;
  margin-left: 12px;
  margin-top: 20px;
  @include fontMix(16px, 1.88, 700);
  letter-spacing: 0.06em;
  text-align: center;
  color: $white-color;
  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-modal {
  @include centered-content;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 6px;
  border-radius: 50%;
  content: ' ';
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $white-color;
  fill: $primary-text-color;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    fill: $accent-color;
  }
}

.button-submit {
  display: block;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  padding: 10px 55px;
  color: $white-color;
  background-color: $accent-color;
  @include fontMix(16px, 1.88, 700);
  border: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-items: center;
  text-align: center;
}
