.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item + .site-nav__item {
  margin-left: 50px;
}

.site-nav__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $primary-text-color;

  text-decoration: none;
  @include fontMix(14px, 1.17, 500);

  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.site-nav__link.current {
  color: $accent-color;

  &::after {
    display: inline-block;
    content: '';
    width: 100%;
    height: 4px;
    border-bottom: solid 4px $accent-color;
    border-radius: 2px;

    position: absolute;
    bottom: 0;
    right: 0;
  }
}
