body {
  $background-color: #ffffff;
  $title-text-color: #757575;

  background-color: $background-color;
  color: $title-text-color;

  font-family: Roboto, sans-serif;
  @include fontMix(14px, 1.71);
  letter-spacing: 0.42px;
}

.list {
  padding: 0px;
  margin: 0px;
  list-style: none;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
  max-width: 100%;
  height: auto;
}
